<?xml version="1.0"?>
<!--
  Purpose: Sets whether extended information about renderings should be displayed
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <setting name="RenderingChrome.DisplayExtededInfo" value="true" />
    </settings>

  </sitecore>
</configuration>
